
*{transition: all .1s ease-in;}

body {
    font-family: “Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
}
.div1 {
    margin-top: 143px;
    font-size: 12px;
    color: #898f99;
    text-align: center;
}

.div2 {
    margin-top: 36px;
    font-size: 48px;
    color: #0ec8cb;
    text-align: center;
}
.div3 {
    margin-top: 40px;
    font-size: 18px;
    color: #999999;
    text-align: center;
}

.icon {
    margin: 110px auto;
    text-align: center;
    font-size: 0;
}

p {
    font-size: 21px;
}
span {
    font-size: 15px;
    color: #777777;
}
svg {
    margin-bottom: 20px;
}

.icon div {
    height: 415px;
    width: 230px;
    display: inline-block;
    font-size: 18px;
    box-sizing: border-box;
    text-align: center;
    padding: 54px 25px 80px 25px;
    vertical-align: top;
}

.icon div:hover {
    background: #0ec8cb;
    color: white;
}
div:hover svg path {
    fill: #fff;
}

