@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;1,300&family=Playfair+Display&display=swap');

section {
    width: 1158px;
    height: 800px;
    box-shadow: 0 0 30px rgba(150, 150, 150, 1);
    margin: 130px auto;
    padding: 140px 121px 0 121px;
}

p:nth-child(1) {
    font-size: 42px;
    font-family: 'Playfair Display', serif;
    color: #171717;
    font-weight: 400;
}

p:nth-child(2) {
    color: #7a7a7a;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
   line-height: 34px;
    text-align: justify;
font-size: 18px;
}

p:nth-child(2):first-letter {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 110px;
    line-height: 34px;
   float: left;
margin:35px 25px 0 0;
color: black;
}

p:nth-child(3) {
    color: #171717;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    line-height: 34px;
    text-align: justify;
    font-size: 24px;
opacity: 70%;
font-style: italic;
}

span {
font-size: 60px;
line-height: 40px;
word-spacing: 20px;
}

div {
    width: 265px;
    height: 50px;
border: 2px solid #eaa258;
text-align: center;
    padding-top: 18px;
}

a.buttom {
text-decoration: none;
color: #eaa258;
    font-family: 'Lato', sans-serif;
font-weight: bold;
    font-size: 18px;
word-spacing: 2px;
    line-height: 34px;
}